<ion-view>
  <ion-content class="background_color">

    <div class="row">
      <div class="col col-50">
        <button class="button button-full button-dark">
          Login
        </button>
      </div>
      <div class="col col-50">
        <button class="button button-full button-dark" ui-sref="signUp">
          singUp
        </button>
      </div>
    </div>


    <div class="row">
      <div class="col col-25">
      </div>
      <div class="col col-50, logo">
      <img src="img/logo.png" style="height: 165px;">
      </div>
      <div class="col col-25"></div>
    </div>
    <div class="list margin-top_126_form">
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
      <button class="button button-full button-positive" ui-sref="mainPage">
        Submit
      </button>
    </div>


  </ion-content>
</ion-view>
