<ion-view>
  <ion-content class="background_color">

    <div class="row">
      <div class="col col-50">
        <button class="button button-full button-dark">
          Login
        </button>
      </div>
      <div class="col col-50">
        <button class="button button-full button-dark" ui-sref="signUp">
          singUp
        </button>
      </div>
    </div>


    <div class="row">
      <div class="col col-25">
      </div>
      <div class="col col-50, logo">
        <img src="img/logo.png" style="height: 165px;">
      </div>
      <div class="col col-25"></div>
    </div>



  </ion-content>
</ion-view>
