.background_color{
  background-color: #FEFDF4;
  margin:0px;
}
.margin-top_126_form{
  margin-top: 25px;
}
.back_button_font{
  background: transparent;
  border: none;
  color: white;
  font-size: 33px !important;
}
